<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Literacy Kit</title>
</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Questions about {{ current_category }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ol>
        {% for question in questions %}
            <li>
                <p> {{ question.question }}</p>
                {% if question.answer_type == 'RADIO' %}
                    {% for choice in question.choices.all %}
                        <label for="{{ question.id }}{{ choice.id }}">{{ choice }}</label>
                        <input required id="{{ question.id }}{{ choice.id }}" type="radio" value="{{ choice.id }}"
                               name="{{ question.id }}">
                    {% endfor %}
                {% else %}
                    {% for choice in question.choices.all %}
                        <label for="{{ question.id }}{{ choice.id }}">{{ choice }}</label>
                        <input id="{{ question.id }}{{ choice.id }}" type="checkbox" value="{{ choice.id }}"
                               name="{{ question.id }}">
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    <input type="submit">
</form>
</body>
</html>